@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body background */
body {
  font-family: "QanelasSoft-Medium";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #171717;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23484848' fill-opacity='0.11'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Fonts */
@font-face {
  font-family: QanelasSoft;
  src: url("assets/fonts/QanelasSoftRegular.otf") format("opentype");
}

@font-face {
  font-family: QanelasSoft-Medium;
  src: url("assets/fonts/QanelasSoftMedium.otf") format("opentype");
}

@font-face {
  font-family: QanelasSoft-Semibold;
  src: url("assets/fonts/QanelasSoftSemiBold.otf") format("opentype");
}

@font-face {
  font-family: QanelasSoft-Bold;
  src: url("assets/fonts/QanelasSoftBold.otf") format("opentype");
}

/* Buttons */
.button-primary {
  @apply text-neutral-800 font-primarySemibold rounded-full bg-white hover:bg-white hover:ring-4 hover:ring-white/20 transition px-5 py-2.5 text-center focus:outline-none disabled:cursor-not-allowed disabled:opacity-40;
}

/* Notification */
.notiflix-report-message {
  text-align: center !important;
}
